Django==6.1.1
djangorestframework==3.18.1
django-cors-headers==4.9.0

pypdf==6.19.0

numpy==2.5.3
faiss-cpu==1.15.1

python-dotenv==1.2.3
contractions==0.1.73

spacy==3.8.16
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl

google-genai==2.24.0

langchain-core==1.6.4
langchain-google-genai==4.4.0
langchain-text-splitters==1.1.2

gunicorn==26.2.0